<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<string>[{"seq":"1","qId":98924,"qGrp":"1449215255","aItem":["A"]},{"seq":"2","qId":98925,"qGrp":"1449215255","aItem":["B"]},{"seq":"3","qId":98926,"qGrp":"1449215255","aItem":["C"]},{"seq":"4","qId":98927,"qGrp":"1449215255","aItem":["BCD"]},{"seq":"5","qId":98928,"qGrp":"1449215255","aItem":["A"]},{"seq":"6","qId":98929,"qGrp":"1449215255","aItem":["The fact I can see you soon "]},{"seq":"7","qId":98930,"qGrp":"1449215255","aItem":["I'm so tired and my friends to be "]}]</string>
	<key>aId</key>
	<string>6949</string>
</dict>
</plist>
