<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<integer>0</integer>
	<key>data</key>
	<dict>
		<key>bankId</key>
		<integer>54837</integer>
		<key>desc</key>
		<string>&lt;p&gt;请认真考试，别歪歪&lt;/p&gt;
</string>
		<key>duration</key>
		<integer>12000</integer>
		<key>end</key>
		<integer>0</integer>
		<key>id</key>
		<integer>9382</integer>
		<key>name</key>
		<string>中国义务教育之高中大综合评测</string>
		<key>qGrp</key>
		<string>[{&quot;name&quot;:&quot;题组一&quot;,&quot;score&quot;:0,&quot;seq&quot;:1,&quot;id&quot;:1449215255}]</string>
		<key>qParse</key>
		<array>
			<dict>
				<key>id</key>
				<real>1449215255</real>
				<key>name</key>
				<string>题组一</string>
				<key>questions</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>desc</key>
						<string>&lt;p&gt;库尔德人是西亚&lt;a href=&quot;http://baike.baidu.com/view/474572.htm&quot; target=&quot;_blank&quot;&gt;库尔德斯坦&lt;/a&gt;地区的&lt;a href=&quot;http://baike.baidu.com/view/6304.htm&quot; target=&quot;_blank&quot;&gt;游牧民族&lt;/a&gt;，属欧罗巴人种&lt;a href=&quot;http://baike.baidu.com/subview/15817/5985770.htm&quot; target=&quot;_blank&quot;&gt;地中海&lt;/a&gt;类型。主要分布在&lt;a href=&quot;http://baike.baidu.com/view/51261.htm&quot; target=&quot;_blank&quot;&gt;扎格罗斯山脉&lt;/a&gt;和托罗斯山脉地区。在中东是一个人口仅次于&lt;a href=&quot;http://baike.baidu.com/subview/18648/12119022.htm&quot; target=&quot;_blank&quot;&gt;阿拉伯人&lt;/a&gt;、&lt;a href=&quot;http://baike.baidu.com/view/253420.htm&quot; target=&quot;_blank&quot;&gt;土耳其人&lt;/a&gt;和&lt;a href=&quot;http://baike.baidu.com/view/43173.htm&quot; target=&quot;_blank&quot;&gt;波斯人&lt;/a&gt;的第四大民族。&lt;/p&gt;
</string>
						<key>description</key>
						<string>&lt;p&gt;库尔德人是西亚&lt;a href=&quot;http://baike.baidu.com/view/474572.htm&quot; target=&quot;_blank&quot;&gt;库尔德斯坦&lt;/a&gt;地区的&lt;a href=&quot;http://baike.baidu.com/view/6304.htm&quot; target=&quot;_blank&quot;&gt;游牧民族&lt;/a&gt;，属欧罗巴人种&lt;a href=&quot;http://baike.baidu.com/subview/15817/5985770.htm&quot; target=&quot;_blank&quot;&gt;地中海&lt;/a&gt;类型。主要分布在&lt;a href=&quot;http://baike.baidu.com/view/51261.htm&quot; target=&quot;_blank&quot;&gt;扎格罗斯山脉&lt;/a&gt;和托罗斯山脉地区。在中东是一个人口仅次于&lt;a href=&quot;http://baike.baidu.com/subview/18648/12119022.htm&quot; target=&quot;_blank&quot;&gt;阿拉伯人&lt;/a&gt;、&lt;a href=&quot;http://baike.baidu.com/view/253420.htm&quot; target=&quot;_blank&quot;&gt;土耳其人&lt;/a&gt;和&lt;a href=&quot;http://baike.baidu.com/view/43173.htm&quot; target=&quot;_blank&quot;&gt;波斯人&lt;/a&gt;的第四大民族。&lt;/p&gt;
</string>
						<key>duration</key>
						<string>0</string>
						<key>ext</key>
						<dict>
							<key>score</key>
							<integer>20</integer>
						</dict>
						<key>id</key>
						<string>98924</string>
						<key>name</key>
						<string>库尔德人是西亚库尔德斯坦地区的游牧民族，属欧罗巴人种地中海类型。主</string>
						<key>option</key>
						<string>[{&quot;content&quot;:&quot;以上说法正确&lt;br&gt;&quot;,&quot;code&quot;:&quot;A&quot;,&quot;seq&quot;:1},{&quot;content&quot;:&quot;以上说法错误&quot;,&quot;code&quot;:&quot;B&quot;,&quot;seq&quot;:2}]</string>
						<key>p2qId</key>
						<string>69374</string>
						<key>pid</key>
						<string>0</string>
						<key>qGrp</key>
						<string>1449215255</string>
						<key>score</key>
						<integer>20</integer>
						<key>seq</key>
						<string>1</string>
						<key>tag</key>
						<string></string>
						<key>type</key>
						<string>10</string>
						<key>uid</key>
						<string>267250</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>desc</key>
						<string>&lt;p&gt;曹操（155年－220年3月15日[1]&amp;nbsp;），字孟德，一名吉利，&lt;a href=&quot;http://baike.baidu.com/view/2340889.htm&quot; target=&quot;_blank&quot;&gt;小字&lt;/a&gt;阿瞒，&lt;a href=&quot;http://baike.baidu.com/view/437022.htm&quot; target=&quot;_blank&quot;&gt;沛国&lt;/a&gt;谯县（今&lt;a href=&quot;http://baike.baidu.com/view/195075.htm&quot; target=&quot;_blank&quot;&gt;安徽亳州&lt;/a&gt;）人，汉族。东汉末年杰出的政治家、军事家、文学家、书法家&amp;nbsp;，三国中曹魏政权的奠基人。以汉天子的名义征讨四方，对内消灭二袁、吕布、刘表、马超、韩遂等割据势力，对外降服&lt;a href=&quot;http://baike.baidu.com/view/4176399.htm&quot; target=&quot;_blank&quot;&gt;南匈奴&lt;/a&gt;、&lt;a href=&quot;http://baike.baidu.com/view/36634.htm&quot; target=&quot;_blank&quot;&gt;乌桓&lt;/a&gt;、&lt;a href=&quot;http://baike.baidu.com/view/36641.htm&quot; target=&quot;_blank&quot;&gt;鲜卑&lt;/a&gt;等，统一了中国北方，并实行一系列政策恢复经济生产和社会秩序，奠定了曹魏立国的基础。曹操在世时，担任东汉丞相，后为魏王，去世后谥号为武王。其子&lt;a href=&quot;http://baike.baidu.com/view/5199.htm&quot; target=&quot;_blank&quot;&gt;曹丕&lt;/a&gt;称帝后，追尊为武皇帝，庙号太祖。&lt;/p&gt;
</string>
						<key>description</key>
						<string>&lt;p&gt;曹操（155年－220年3月15日[1]&amp;nbsp;），字孟德，一名吉利，&lt;a href=&quot;http://baike.baidu.com/view/2340889.htm&quot; target=&quot;_blank&quot;&gt;小字&lt;/a&gt;阿瞒，&lt;a href=&quot;http://baike.baidu.com/view/437022.htm&quot; target=&quot;_blank&quot;&gt;沛国&lt;/a&gt;谯县（今&lt;a href=&quot;http://baike.baidu.com/view/195075.htm&quot; target=&quot;_blank&quot;&gt;安徽亳州&lt;/a&gt;）人，汉族。东汉末年杰出的政治家、军事家、文学家、书法家&amp;nbsp;，三国中曹魏政权的奠基人。以汉天子的名义征讨四方，对内消灭二袁、吕布、刘表、马超、韩遂等割据势力，对外降服&lt;a href=&quot;http://baike.baidu.com/view/4176399.htm&quot; target=&quot;_blank&quot;&gt;南匈奴&lt;/a&gt;、&lt;a href=&quot;http://baike.baidu.com/view/36634.htm&quot; target=&quot;_blank&quot;&gt;乌桓&lt;/a&gt;、&lt;a href=&quot;http://baike.baidu.com/view/36641.htm&quot; target=&quot;_blank&quot;&gt;鲜卑&lt;/a&gt;等，统一了中国北方，并实行一系列政策恢复经济生产和社会秩序，奠定了曹魏立国的基础。曹操在世时，担任东汉丞相，后为魏王，去世后谥号为武王。其子&lt;a href=&quot;http://baike.baidu.com/view/5199.htm&quot; target=&quot;_blank&quot;&gt;曹丕&lt;/a&gt;称帝后，追尊为武皇帝，庙号太祖。&lt;/p&gt;
</string>
						<key>duration</key>
						<string>0</string>
						<key>ext</key>
						<dict>
							<key>score</key>
							<integer>30</integer>
						</dict>
						<key>id</key>
						<string>98925</string>
						<key>name</key>
						<string>曹操（155年－220年3月15日[1] ），字孟德，一名吉利，小字阿瞒，沛国谯县</string>
						<key>option</key>
						<string>[{&quot;content&quot;:&quot;不知道&quot;,&quot;code&quot;:&quot;A&quot;,&quot;seq&quot;:1},{&quot;content&quot;:&quot;知道&quot;,&quot;code&quot;:&quot;B&quot;,&quot;seq&quot;:2}]</string>
						<key>p2qId</key>
						<string>69375</string>
						<key>pid</key>
						<string>0</string>
						<key>qGrp</key>
						<string>1449215255</string>
						<key>score</key>
						<integer>30</integer>
						<key>seq</key>
						<string>2</string>
						<key>tag</key>
						<string></string>
						<key>type</key>
						<string>10</string>
						<key>uid</key>
						<string>267250</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>desc</key>
						<string>&lt;p&gt;2001年初，周杰伦发行首张专辑《Jay》，获得台湾当年最佳流行音乐演唱专辑、最佳制作人和最佳作曲人三项奖项，专辑《Jay》的成功让台湾的歌星们大跌眼镜，在人们还没有完全记住周杰伦这个名字的时候，9月20日他带来了个更为天马行空的专辑《范特西》，唱片公司也对这张唱片非常重视，把专辑中的十首歌曲全部拍成MTV，并且向全国乃至全亚洲进行了大面积的宣传，《范特西》对于定型周杰伦唱片风格具有重要意义，并且在商业运作上取得了成功，周杰伦也凭借这张专辑成功打开了东西南亚市场。&lt;/p&gt;
</string>
						<key>description</key>
						<string>&lt;p&gt;2001年初，周杰伦发行首张专辑《Jay》，获得台湾当年最佳流行音乐演唱专辑、最佳制作人和最佳作曲人三项奖项，专辑《Jay》的成功让台湾的歌星们大跌眼镜，在人们还没有完全记住周杰伦这个名字的时候，9月20日他带来了个更为天马行空的专辑《范特西》，唱片公司也对这张唱片非常重视，把专辑中的十首歌曲全部拍成MTV，并且向全国乃至全亚洲进行了大面积的宣传，《范特西》对于定型周杰伦唱片风格具有重要意义，并且在商业运作上取得了成功，周杰伦也凭借这张专辑成功打开了东西南亚市场。&lt;/p&gt;
</string>
						<key>duration</key>
						<string>0</string>
						<key>ext</key>
						<dict>
							<key>score</key>
							<integer>30</integer>
						</dict>
						<key>id</key>
						<string>98926</string>
						<key>name</key>
						<string>2001年初，周杰伦发行首张专辑《Jay》，获得台湾当年最佳流行音乐演唱专辑</string>
						<key>option</key>
						<string>[{&quot;content&quot;:&quot;实力派&lt;br&gt;&quot;,&quot;code&quot;:&quot;A&quot;,&quot;seq&quot;:1},{&quot;content&quot;:&quot;偶像派&lt;br&gt;&quot;,&quot;code&quot;:&quot;B&quot;,&quot;seq&quot;:2},{&quot;content&quot;:&quot;两者都是&lt;br&gt;&quot;,&quot;code&quot;:&quot;C&quot;,&quot;seq&quot;:3}]</string>
						<key>p2qId</key>
						<string>69376</string>
						<key>pid</key>
						<string>0</string>
						<key>qGrp</key>
						<string>1449215255</string>
						<key>score</key>
						<integer>30</integer>
						<key>seq</key>
						<string>3</string>
						<key>tag</key>
						<string></string>
						<key>type</key>
						<string>10</string>
						<key>uid</key>
						<string>267250</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>desc</key>
						<string>&lt;p&gt;多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题&lt;/p&gt;
</string>
						<key>description</key>
						<string>&lt;p&gt;多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题&lt;/p&gt;
</string>
						<key>duration</key>
						<string>0</string>
						<key>ext</key>
						<dict>
							<key>score</key>
							<integer>10</integer>
						</dict>
						<key>id</key>
						<string>98927</string>
						<key>name</key>
						<string>多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题多选题</string>
						<key>option</key>
						<string>[{&quot;content&quot;:&quot;right&quot;,&quot;code&quot;:&quot;A&quot;,&quot;seq&quot;:1},{&quot;content&quot;:&quot;选项2&quot;,&quot;code&quot;:&quot;B&quot;,&quot;seq&quot;:2},{&quot;content&quot;:&quot;no&lt;br&gt;&quot;,&quot;code&quot;:&quot;C&quot;,&quot;seq&quot;:3},{&quot;content&quot;:&quot;right&lt;br&gt;&quot;,&quot;code&quot;:&quot;D&quot;,&quot;seq&quot;:4}]</string>
						<key>p2qId</key>
						<string>69377</string>
						<key>pid</key>
						<string>0</string>
						<key>qGrp</key>
						<string>1449215255</string>
						<key>score</key>
						<integer>10</integer>
						<key>seq</key>
						<string>4</string>
						<key>tag</key>
						<string></string>
						<key>type</key>
						<string>20</string>
						<key>uid</key>
						<string>267250</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>desc</key>
						<string>&lt;p&gt;判断题判断题判断题判断题判断题判断题判断题判断题判断题判断题判断题判断题&lt;/p&gt;
</string>
						<key>description</key>
						<string>&lt;p&gt;判断题判断题判断题判断题判断题判断题判断题判断题判断题判断题判断题判断题&lt;/p&gt;
</string>
						<key>duration</key>
						<string>0</string>
						<key>ext</key>
						<dict>
							<key>score</key>
							<integer>5</integer>
						</dict>
						<key>id</key>
						<string>98928</string>
						<key>name</key>
						<string>判断题判断题判断题判断题判断题判断题判断题判断题判断题判断题判断题</string>
						<key>option</key>
						<string>[{&quot;content&quot;:&quot;对&quot;,&quot;code&quot;:&quot;对&quot;,&quot;seq&quot;:1},{&quot;content&quot;:&quot;错&quot;,&quot;code&quot;:&quot;错&quot;,&quot;seq&quot;:2}]</string>
						<key>p2qId</key>
						<string>69378</string>
						<key>pid</key>
						<string>0</string>
						<key>qGrp</key>
						<string>1449215255</string>
						<key>score</key>
						<integer>5</integer>
						<key>seq</key>
						<string>5</string>
						<key>tag</key>
						<string></string>
						<key>type</key>
						<string>30</string>
						<key>uid</key>
						<string>267250</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>desc</key>
						<string>&lt;p&gt;填空题----哈哈，1+1=___&lt;/p&gt;
</string>
						<key>description</key>
						<string>&lt;p&gt;填空题----哈哈，1+1=___&lt;/p&gt;
</string>
						<key>duration</key>
						<string>0</string>
						<key>ext</key>
						<dict>
							<key>score</key>
							<integer>3</integer>
						</dict>
						<key>id</key>
						<string>98929</string>
						<key>name</key>
						<string>填空题----哈哈，1+1=___
</string>
						<key>option</key>
						<string>[{&quot;content&quot;:&quot;以上说法正确&lt;br&gt;&quot;,&quot;code&quot;:&quot;A&quot;,&quot;seq&quot;:1},{&quot;content&quot;:&quot;以上说法错误&quot;,&quot;code&quot;:&quot;B&quot;,&quot;seq&quot;:2}]</string>
						<key>p2qId</key>
						<string>69379</string>
						<key>pid</key>
						<string>0</string>
						<key>qGrp</key>
						<string>1449215255</string>
						<key>score</key>
						<integer>3</integer>
						<key>seq</key>
						<string>6</string>
						<key>tag</key>
						<string></string>
						<key>type</key>
						<string>35</string>
						<key>uid</key>
						<string>267250</string>
					</dict>
					<dict>
						<key>children</key>
						<array/>
						<key>desc</key>
						<string>&lt;p&gt;11+13=___&lt;/p&gt;
</string>
						<key>description</key>
						<string>&lt;p&gt;11+13=___&lt;/p&gt;
</string>
						<key>duration</key>
						<string>0</string>
						<key>ext</key>
						<dict>
							<key>score</key>
							<integer>2</integer>
						</dict>
						<key>id</key>
						<string>98930</string>
						<key>name</key>
						<string>11+13=___
</string>
						<key>option</key>
						<string>[{&quot;content&quot;:&quot;right&quot;,&quot;code&quot;:&quot;A&quot;,&quot;seq&quot;:1},{&quot;content&quot;:&quot;选项2&quot;,&quot;code&quot;:&quot;B&quot;,&quot;seq&quot;:2},{&quot;content&quot;:&quot;no&lt;br&gt;&quot;,&quot;code&quot;:&quot;C&quot;,&quot;seq&quot;:3},{&quot;content&quot;:&quot;right&lt;br&gt;&quot;,&quot;code&quot;:&quot;D&quot;,&quot;seq&quot;:4}]</string>
						<key>p2qId</key>
						<string>69380</string>
						<key>pid</key>
						<string>0</string>
						<key>qGrp</key>
						<string>1449215255</string>
						<key>score</key>
						<integer>2</integer>
						<key>seq</key>
						<string>7</string>
						<key>tag</key>
						<string></string>
						<key>type</key>
						<string>35</string>
						<key>uid</key>
						<string>267250</string>
					</dict>
				</array>
				<key>score</key>
				<integer>0</integer>
				<key>seq</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>score</key>
		<integer>100</integer>
		<key>start</key>
		<integer>0</integer>
		<key>tag</key>
		<string></string>
		<key>uid</key>
		<integer>267250</integer>
		<key>uname</key>
		<string>linjie</string>
	</dict>
	<key>msg</key>
	<string></string>
</dict>
</plist>
